{% extends 'base.html' %}

{% block content %}
    <section class="bg-info text-light text-center shadow mb-20">
        <div class="container p-5 bg-dark col-6">
            <div class="row">
                <div class="d-md-flex bg-secondary align-items-center justify-content-evenly">
                    <h1 class="col text-center">User Profile Details: <br> {{ current_user.email}}</h1>
                </div>
            </div>
        </div>
        <div class="container p-5 col-6 bg-dark">
            <div class="row"><br>
                <ul class="list-group">
                    <li class="list-group-item">Email: {{ current_user.email }}</li>
                    <li class="list-group-item">Token: {{ current_user.token }} </li> 
                </ul>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-5 p-2">
                    <img src="../static/images/blackcar.jpg" class="d-flex align-items-center justify-content-center p-50 img-fluid" alt="">
                </div>
                <div class="col-1"></div>
                <div class="col-5 p-2">
                    <img src="../static/images/slugbug.jpg" class="d-flex align-items-center justify-content-center p-50 img-fluid" alt="">
                </div>
                <div class="col-12 p-2">
                    <img src="../static/images/cardriving.jpg" class="d-flex align-items-center justify-content-center p-50 img-fluid" alt="">
                </div>

            </div>
        </div>
    </section>
{% endblock %}